.banner {
  padding: 200px 0;
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
  transition: .5s;
}
.banner h1 {
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner:hover {
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}
